# Kiro
.kiro/

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Power BI ficheiros temporarios
*.pbix
*.pbit
dashboards/**/.pbi/
dashboards/**/localSettings.json

# OS
.DS_Store
Thumbs.db
desktop.ini
